.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hide {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 500px;
	transition: height 2s;
	overflow: hidden;
}

.clock {
	display: flex;
	position: relative;
	background-image: url('Image/download.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 400px;
	height: 400px;
	align-items: center;
	justify-content: center;
}

#millisecond, #second, #minute, #hour {
	position: absolute;
	transform-origin: 50% 50%;
}

.turnpoint {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
}

.quotes {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 500px;
}

.quote {
	font-weight: bold;
	font-size: 21px;
	display: none;
}

.timer {
	font-size: 24px;
}

.largest {
	margin-bottom: 100px;
}

.button {
	padding: 10px 20px;
	background-color: transparent;
	border: solid 2px black;
}

.timeline {
	position: relative;
	height: 1000px;
	width: 10px;
	background-color: black;
	border-radius: 4em;
}

.image--left {
	position: relative;
	right: 600px;
	opacity: 0;
	transition: 1s ease;
	width: 400px;
	height: 300px;
}

.image--right {
	position: relative;
	left: 600px;
	opacity: 0;
	transition: 1s ease;
	width: 400px;
	height: 300px;
}