@mixin box($color, $order){
    display: flex;
    flex: 1;
    color: $white;
    background-color: $color;
    order: $order;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    h2{
        width: 100%;
        display: block;
        font-size: 11rem;
        padding: 0;
        margin: 0;
    }
    p{
        font-size: 2rem;
        width: 100%;
        display: block;
        padding: 0;
        margin: -150px 0 0;
    }
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    height: 90vh;
    .box1{
        @include box($darkgrey, 1);
    }
    .box2{
        @include box($grey, 2);
    }
    .box3{
        @include box($lightgrey, 3);
    }
}
