.main{
  padding: 50px;
  h2{
    text-align: center;
  }
}
.intro{
  display: flex;
  justify-content: space-between;
  .leftbox{
    text-align: justify;
    text-justify: newspaper;
    width: 40%;
    justify-content: flex-start;
  }
  .rightbox{
    text-align: justify;
    text-justify: newspaper;
    width: 40%;
    justify-content: flex-end;
  }
}

.gallery{
  margin-top: 25px;
  height: 665px;
  h2{
    width: 100%;
  }
  .image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 600px;
    background-color: #CCCCCC;
    &__side{
      margin-right: 20px;
      height: 125px;
      width: 10%;
      background-color: #FFFFFF;
      &:hover{
        background-color: #E4E6E9;
      }
    }
  }
}
.form{
  height: 200px;
  width: 80%;
}
